[submodule "thirdparty/minifb"]
	path = thirdparty/minifb
	url = https://github.com/emoon/minifb.git
[submodule "thirdparty/miniaudio"]
	path = thirdparty/miniaudio
	url = https://github.com/mackron/miniaudio.git
[submodule "thirdparty/rapidjson"]
	path = thirdparty/rapidjson
	url = git@github.com:Tencent/rapidjson.git
[submodule "thirdparty/nes-test-roms"]
	path = thirdparty/nes-test-roms
	url = git@github.com:christopherpow/nes-test-roms.git
